body {
	font-family: 'Roboto', sans-serif;
	color: 	#fff;
	/*background: url("Christina's photo - Copy.jpg");*/
	background-color: #BCEBD9;
	background-size: cover;
}

img {
	float: left;
	margin-right: 50px;
	vertical-align: top;
	padding: 10px 20px 30px 10px;
	 /*clockwise*/
}

.signin {
	background: rgb(162, 184, 184);
	padding: 40px;
	width: 250px;
	margin: auto;
	margin-top: 80px;
	margin-left: 325px;
	height: 400px;
	float: left;
}

form {
	width: 240px;
	text-align: center;
}

input {
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}

input[type=button] {
	border: none;
	width: 190px;
	background: white;
	color: #000;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
}

input [type=button] : hover {
	color: #fff;
	background-color: black;
}

h1 {
	vertical-align: middle;
	text-align: center;
	margin-top: 25px;
	margin-left: 150px;
	margin-right: 100px;
	padding-top: 15px 20px 95px 15px;
	font-family: 'Caveat', cursive;
	font-size: 75px;
	color: black;
}

h2 {
	color: white;
}

a {
	color: yellow;
	text-decoration: blink;
}

a:hover {
	color: #1B1854;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

::placeholder {
	color: aliceblue;
	opacity: 0.8; /*firefox*/
}